CampusConnect/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
CampusConnect/target/classes/META-INF/persistence.xml
CampusConnect/src/main/resources/META-INF/persistence.xml
/CampusConnect-Dominio/target/
/CampusConnect-Persistencia/target/
/CampusConnect-Servicios/target/
/CampusConnect-Utils/target/
/CampusConnect-Presentacion/target/
CampusConnect-Utils/src/main/resources/META-INF/persistence.xml
CampusConnect-Utils/src/main/resources/META-INF/persistence.xml
CampusConnect-Utils/src/main/resources/META-INF/persistence.xml
CampusConnect-Utils/src/main/resources/META-INF/persistence.xml
